.video {
  position: relative;
  border-radius: 20px;
  background-color: rgb(235, 47, 22);
  height: 100%;
  width: 100%;
  scroll-snap-align: start; /*this tells react what to snap as set in App.css */
}

.video__player {
  object-fit: fill; /*sets the video to fill the container*/
  height: 100%; /*sets the video to cover the whole container height*/
  width: 100%; /*sets the video to cover the whole container width*/
}
