html {        /*NB: always add this in your app.css*/
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;    /*sets the app to cover the bottom of the page*/
  background-color: black;
  display: grid;      /*This line and the next lines place the item at the center*/
  place-items: center;
  height: 100%;
}

.app__videos {
  position: relative;
  height: 800px;          /*sets the height of the video container*/
  overflow: scroll;       
  width: 80%;
  max-width: 500px;       /*sets the max-width for big screen*/
  scroll-snap-type: y mandatory;    /*sets the scroll snap to a vertical axis*/
} 

/*The best way to hid scroll bar without losing its funtionality*/
/* Hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app__videos {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}